# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
coverage
pnpm-workspace.yaml

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Cypress artifacts
cypress/screenshots
cypress/videos

# Local env files
.env
.env.*
!.env.example
.vercel
.env*.local
